body {
  font-size: 30px;
  line-height: 1.2;
  background-color: #f2f1ef;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.line1 {
  top: 50%;
  width: 100%;
  position: absolute;
  outline: 1px dotted rgb(255, 255, 255);
}
.line2 {
  height: 100%;
  left: 50%;
  position: absolute;
  outline: 1px dotted rgb(255, 255, 255);
  rotate: 0deg;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  /* padding: 15px; */
}

/* ======header start====== */
.header {
  background-color: #094eab;
  width: 100vw;
  height: 44px;
}
/* ======header end====== */

/* =======goal start======= */
.goal {
  display: flex;

  width: 100vw;
  background-color: #ababab;
  margin-left: auto;
  /* border-top-left-radius: 2vw; */
  border-bottom-left-radius: 2vw;
}
.goal-title {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  writing-mode: vertical-rl;
  transform-origin: center;
  transform: rotate(-180deg);
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1;
  letter-spacing: 0px;
  padding: 7px;
}
.goal-title h2 {
  font-weight: 100;
}
.goal-description {
  font-size: 14px;
  width: 96%;
  background-color: #ffffff;
  margin-left: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  color: #000000;
}
.description-title {
  padding-left: 10px;
  padding-right: 8px;
  margin-bottom: 10px;
  margin-top: 7px;
  font-weight: 100;
}

.description-list {
  padding-left: 10px;
  padding-right: 8px;
  line-height: 1.4;
  margin-bottom: 7px;
}

.description-text {
  font-size: 14px;
}
/* =======goal end======= */

/* ==========playfield start=========== */

.playfield {
  width: 100vw;
  aspect-ratio: 1/1;
  /* height: 100vw; */
  /* outline: 1px solid black; */
  margin: 0 auto;
  display: flex;
  position: relative;
  /* background-color: #e2e2e2; */
}

.elem {
  position: absolute;
  display: flex;
  width: 14%;
  aspect-ratio: 1/1;
  /* height: 14%; */
  border: 0.7px solid black;
  border-radius: 50%;
}

/* =================== */

.klc_1 {
  top: 68%;
  left: 81%;
}
.klc_2 {
  top: 68%;
  left: 67%;
}
.klc_3 {
  top: 68%;
  left: 53%;
}
.klc_4 {
  top: 68%;
  left: 39%;
}
.klc_5 {
  top: 68%;
  left: 25%;
}
.klc_6 {
  top: 56%;
  left: 32%;
}
.klc_7 {
  top: 56%;
  left: 46%;
}
.klc_8 {
  top: 56%;
  left: 60%;
}
.klc_9 {
  top: 56%;
  left: 74%;
}
.klc_10 {
  top: 44%;
  left: 67%;
}
.klc_11 {
  top: 44%;
  left: 53%;
}
.klc_12 {
  top: 44%;
  left: 39%;
}
.klc_13 {
  top: 32%;
  left: 46%;
}
.klc_14 {
  top: 32%;
  left: 60%;
}
.klc_15 {
  top: 20%;
  left: 53%;
}
/* =============== */
.blob {
  position: absolute;
  display: flex;
  width: 14%;
  aspect-ratio: 1/1;
  /* height: 14%; */
  padding: 1px;
  /* border: 0.7px solid black; */
  border-radius: 50%;
}

.blob::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: 100%;
  /* position: absolute;
  border-radius: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../kolocells-images/blob.svg);
}
.blob_1 {
  transform: rotate(240deg);
  top: 85%;
  left: 76.5%;
}
.blob_2 {
  transform: rotate(240deg);
  top: 85%;
  left: 62.5%;
}
.blob_3 {
  top: 68%;
  left: 6%;
}
.blob_4 {
  top: 56%;
  left: 13%;
}
.blob_5 {
  top: 44%;
  left: 20%;
}
.blob_6 {
  transform: rotate(120deg);
  top: 3%;
  left: 62.5%;
}
.blob_7 {
  transform: rotate(120deg);
  top: 15%;
  left: 69.5%;
}
.blob_8 {
  transform: rotate(120deg);
  top: 27%;
  left: 76.5%;
}
/* ===========playfield end========== */

/* =============additional start========== */
.additional {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.clues {
  width: 40vw;
  /* height: 30vw; */
  background-color: #ababab;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.clues-title {
  font-size: 10px;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}
.clues-text-wrapper {
  width: auto;
  margin: 0 2px 2px 0;
  background-color: #ffffff;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.clues-text {
  display: flex;
  font-size: 14px;
  color: #000000;
  padding: 2px;
  text-align: left;
  align-items: center;
}

.clues-text span {
  position: relative;
  display: block;
  width: 30%;
  aspect-ratio: 1/1;
  margin-right: 7px;
}
.clues-text span::before {
  content: "";
  width: 100%;
  aspect-ratio: 1/1;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* border-radius: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../kolocells-images/blob.svg);
}

.clues-positive {
}
.clues-negative {
}
/* ============ */
.colors {
  width: 59vw;
  /* height: 30vw; */
  background-color: #ababab;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  display: flex;
  text-align: center;
  align-items: center;
}
.colors-title {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  writing-mode: vertical-rl;
  transform-origin: center;
  transform: rotate(-180deg);
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.5px;
  padding: 3px;
  font-weight: 100;
}
.colors-content-wrapper {
  width: 100%;
  height: 96%;
  /* padding: 7px 0px 7px 0; */
  background-color: #ffffff;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  display: flex;
  align-items: center;
}
.colors-content {
  width: 50%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.colors-content-list {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}
.colors-content-list.end {
  justify-content: flex-end;
}
.colors-content-list span {
  color: #000000;
  font-weight: 100;
  padding-top: 1px;
}
.colors-content-list div {
  border-radius: 50%;
  padding-top: 1px;
  height: 5.5vw;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.br {
  background-color: #7d460d;
}
.b {
  background-color: #22a5f1;
}
.y {
  background-color: #ffe64b;
}
.r {
  background-color: #f1430e;
}
.o {
  background-color: #ff8c20;
}
.g {
  background-color: #66c243;
}
.p {
  background-color: #a72484;
}
/* =============additional end========== */
